<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Employee</title>
</head>
<body>

<a th:href="@{/emp/}">Home</a>
<h1 align="center">Registered Student Details</h1>
<table border="1px" bgcolor="cyan" style="margin:50px 0px 0px 400px">
<tr>
<th>Std_ID</th>
<th>Std_Name</th>
<th>Department_Name</th>
<th>College_Fees</th>
<th>Std_Percentage</th>
</tr>


<tr th:if="${studs==null}">
<td colspan="5"><center>No Records found</center></td>
</tr>



<tr th:each="std : ${studs}">
<td><span th:text="${std.id}"/></td>
<td><span th:text="${std.name}"/></td>
<td><span th:text="${std.dept}"/></td>
<td><span th:text="${std.fees}"/></td>
<td><span th:text="${std.percentage}"/></td>
</tr>

</table>

</body>
</html>